### Root ###
../.idea

### Docker ###
.env

### Backend ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
!var/storage/
!var/storage/cv/
!var/storage/cv/.gitkeep
vendor/
config/jwt/*.pem
phpunit.xml
.phpunit.cache/

### Frontend ###
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
